<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Form Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style media="screen">
      #formjumbo{
        width: 600px;
        height: 500px;
        border-radius: 50%;
        border-style: solid;
      }
      body{
        font-family: inherit;
        background-image: url("{% static 'images/lawn.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <center><br><br>
      <div class="container">
        <div class="jumbotron" id="formjumbo">
      <h1 style="text-shadow:2px 2px grey;">Login Form</h1><br>
        <form method="post">
          {{form.as_p}}
          {% csrf_token %}
            <hr class="my-4">
            <p class="lead">
          <input type="submit" class="btn btn-primary btn-lg" value="Log-In">
        </p>
        <h5>Don't have an account : <a href="/signup">Register now</a></h5>
        </form>
      </div>
      </div>
      <a href="/" class="btn btn-warning btn-lg">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/allblogs" class="btn btn-success btn-lg">All Blogs</a>
    </center>
  </body>
</html>
